@import 'Common/assets/style/px2rem.scss';

.am-action-sheet-button-list-item {
	color: #508CEE;
}

.recharge {
	width: 100%;
	height: 100%;
	background: #F5F5F5;

	.buy-btn {
		margin-top: px2rem(20) !important;
	}

	.info-cash {
		// .error-msg{ margin-top: px2rem(12);}
		//height: px2rem(181);
		// box-shadow: 0px -1px 2px 0px rgba(176, 176, 176, 0.5);
		background: rgba(255, 255, 255, 1);
		// margin-bottom: px2rem(36);
		position: relative;

		.input-box {
			height: px2rem(113);

			.buy-words {
				padding: px2rem(24) 0 px2rem(12) px2rem(15);
				font-size: px2rem(16);
				font-family: PingFangSC-Regular;
				font-weight: 400;
				color: rgba(51, 51, 51, 1);
				line-height: px2rem(22);
			}
		}

		.err-info {
			height: px2rem(33);
			line-height: px2rem(33);
			// background: rgba(255, 234, 216, 1);
			background: #F9F9F9;
			position: relative;

			span {
				display: block;
				width: 0;
				height: 0;
				border: transparent solid 4px;
				border-top: #FFEAD8 solid 4px;
				position: absolute;
				left: px2rem(15);
				top: px2rem(-8);
				transform: rotate(180deg);
				overflow: hidden;
			}

			div {
				padding-left: px2rem(15);
				font-size: px2rem(14);
				font-family: PingFangSC-Regular;
				color: rgba(244, 51, 60, 1);
			}
		}

		.info-cash1 {
			border-top: 1px solid #DDDDDD;
			padding: px2rem(11) px2rem(15) px2rem(13) 0;
			margin-left: px2rem(15);
			position: relative;

			p {
				color: #333;
				line-height: px2rem(22);
				margin-bottom: px2rem(4);
				font-size: px2rem(14);

				span {
					display: inline-block;
					width: px2rem(68);
				}
			}

			p.tip {
				margin-bottom: 0;
				color: #666;

				.click-words {
					color: #508CEE;
					font-weight: 400;
				}
			}

			i {
				position: absolute;
				color: #999999;
				right: px2rem(12);
				top: px2rem(28);
			}

			i.mrt40 {
				top: px2rem(40);
			}
		}

		.info-cash1.rechage-active {
			border-top: 0;
		}

		.isBorderTop {
			border-top: none;
		}
	}

	.payment-account {
		width: 100%;
		background: #fff;
		margin-top: px2rem(15);
		margin-bottom: px2rem(36);

		.payment-title {
			width: 100%;
			height: px2rem(36);
			line-height: px2rem(36);
			padding-left: px2rem(15);
			border-bottom: 1px solid #DDDDDD;
			font-size: px2rem(14);
		}
	}

	.info-tip {
		color: #999;
		line-height: px2rem(19);
		font-size: px2rem(12);
		padding: px2rem(12) px2rem(15) 0;

		span {
			color: #508cee;
		}

		.gobig {
			margin-left: px2rem(5);
		}
	}

	
}

.handling-count-down {
	width: 100%;
	height: px2rem(50);
	.scecond {
		width: px2rem(50);
		height: px2rem(50);
		border-radius: 50%;
		margin: 0 auto;
		border: 1px solid #2373EB;
		text-align: center;
		line-height: px2rem(50);
		font-size: px2rem(20);
		color: #508cee;
	}
}

.handling-conent-m {
	text-align: center!important;
	color: #333333;
	font-size: px2rem(18)!important;
	font-weight: 800;
}
.handling-conent-t {
	text-align: center!important;
	color: #333333;
	font-size: px2rem(14)!important;
	margin-top: px2rem(8);
}




.recharge-agree {
	padding: 0 px2rem(15);

	div {
		width: 100%;
		// height: px2rem(38);
		display: flex;
		line-height: px2rem(19);
		height: px2rem(19);
		margin-bottom: px2rem(12);

		i {
			width: 16px;
			height: 16px;
			display: inline-block;
			padding-top: px2rem(2);
			color: #508CEE;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		p {
			width: 100%;
			color: #999999;
			font-size: px2rem(12);
			padding-left: px2rem(6);

			span {
				color: #508CEE;
				display: contents
			}
		}
	}
}