.DS_Store
node_modules
/build
./src/web.config.json
/tests/e2e/videos/
/tests/e2e/screenshots/
.cache-loader
.awcache
.env
/src/Common/bcBank

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

/src/web.config.json
/public/appConfig.json
/proDist
*.zip

/temporaryDir
/dist
yarn.lock
/203
/248
/66
/227
/244
/242
/243
/245
/254
/-3
/82
/62
/246
/308
/176
/223
/174
/263
/238
/310
/312
/239
/666

package-lock.json

/test
/.babelrc
/fileMock.js
/jest.config.js
/coverage
/cypress
/cypress.json
/selenium
/public/bundle.js
/scripts/buildDir/appConfig.json
/scripts/buildDir/__pycache__
/loader

