@import 'Common/assets/style/px2rem.scss';
.pro-lastDrow{
  width: 100%!important;
  border-right: 0!important;
}
.pd {
  padding-bottom: px2rem(12)
}
.pro-btnser {
  border-top: px2rem(1) solid #DDDDDD;
  height: px2rem(44);
  // margin-top: px2rem(12);
  line-height: px2rem(44);
  font-size: px2rem(14);
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: px2rem(22);

  button {
    width: 100%;
    float: left;
    height: 100%;
    text-align: center;
  }

  button:first-child {
    border-right: px2rem(1) solid #DDDDDD;
  }
}
