//@import 'Common/assets/style/px2rem.scss';
//
//.redeem {
//    width: 100%;
//    height: 100%;
//    background: #F5F5F5;
//    .tip{ margin-top: px2rem(-24); padding:0 px2rem(15) px2rem(36); color: #999999; font-size: px2rem(12); line-height: px2rem(17);}
//    .showMoneyState {
//      padding-top: px2rem(4);
//    }
//  .info {
//    margin: px2rem(14) px2rem(15) 0;
//    overflow: hidden;
//    position: relative;
//    min-height: px2rem(89);
//    max-height: px2rem(98);
//    border-radius: 6px 6px 0 0;
//    color: #fff;
//    .img {
//      position: absolute;
//      top: 0;
//      left: 0;
//      z-index: 0;
//      width: 100%;
//      height: 100%;
//    }
//    // padding: 0 px2rem(12);
//    h4 {
//      font-weight: normal;
//      padding-top: px2rem(12);
//      padding-left: px2rem(15);
//      position: relative;
//      i {
//        width: px2rem(18);
//        height: px2rem(18);
//        border-radius: 50%;
//        background: #fff;
//        display: inline-block;
//        margin-top: px2rem(2);
//        overflow: hidden;
//        text-align: center;
//        img {
//          max-width: 100%;
//          max-height:100%;
//          vertical-align: top;
//        }
//      }
//      span {
//        font-size: px2rem(14);
//        line-height: px2rem(22);
//        padding-left: px2rem(8);
//        vertical-align: top;
//      }
//    }
//    p {
//      padding-right: px2rem(15);
//      position: relative;
//      text-align: right;
//      font-size: px2rem(14);
//      line-height: px2rem(22);
//      height:px2rem(22);
//    }
//    p:last-child {
//      font-size: px2rem(10);
//      line-height: px2rem(14);
//    }
//  }
//  .info.one{
//    min-height: px2rem(84);
//  }
//  // .am-list-item.am-input-item{
//  //   padding-left: 0 !important;
//  // }
//  .info-cash {
//    //height: px2rem(181);
//    box-shadow: 0px -1px 2px 0px rgba(176, 176, 176, 0.5);
//    background: rgba(255, 255, 255, 1);
//    margin-bottom: px2rem(36);
//    .input-box{
//      height: px2rem(108);
//
//      .buy-words{
//          padding: px2rem(24) 0 px2rem(12) px2rem(15);
//          font-size: px2rem(14);
//          font-family:PingFangSC-Regular;
//          font-weight:400;
//          color:rgba(51,51,51,1);
//          line-height: px2rem(22);
//        }
//        .price{
//          height: px2rem(50);
//          font-size: px2rem(24);
//          color: #333333;
//          font-weight: 400;
//          margin-left: px2rem(15);
//          // border-bottom: px2rem(1) solid #DDDDDD;
//          font-family:PingFangSC-Medium;
//          line-height: px2rem(50);
//        }
//
//    }
//
//    .err-info{
//        height: px2rem(33);
//        line-height: px2rem(33);
//        background:rgba(255,234,216,1);
//        position: relative;
//        span{
//            display: block;
//            width: 0;
//            height: 0;
//            border: transparent solid 4px;
//            border-top: #FFEAD8 solid 4px;
//            position: absolute;
//            left: px2rem(15);
//            top: px2rem(-8);
//            transform: rotate(180deg);
//            overflow: hidden;
//        }
//        div{
//            padding-left: px2rem(15);
//            font-size: px2rem(14);
//            font-family:PingFangSC-Regular;
//            color:rgba(244,51,60,1);
//        }
//    }
//    .info-cash1 {
//        border-top: 1px solid #DDDDDD;
//        padding: px2rem(11) px2rem(15) px2rem(13)  0;
//        position: relative;
//        color: #333;
//        line-height: px2rem(22);
//        font-size: px2rem(14);
//        margin-left:px2rem(15);
//        span {
//            float:right;
//            i{
//              padding-left: px2rem(0);
//            }
//        }
//        i{
//            font-style: normal;
//            padding-left: px2rem(12);
//        }
//    }
//    .info-cash1.redeem-active{
//      border-top:0;
//    }
//  }
//
//
//}
//
//
//// 活动提示弹窗
//.interest-wrap {
//  margin: px2rem(15) px2rem(15) 0;
//  max-height: px2rem(300);
//  display: flex;
//  flex-direction: column;
//  border: 0;
//  box-sizing: border-box;
//  overflow-y: scroll;
//  p:first-child{
//    color: #333333;
//    font-size: px2rem(14);
//    line-height: px2rem(24);
//    text-align: left;
//  }
//  p:nth-child(2){
//    color: #333333;
//    font-size: px2rem(14);
//    line-height: px2rem(24);
//    text-align: left;
//    padding-bottom: px2rem(12);
//  }
//  table{
//    box-sizing: border-box;
//     width: 100%;
//     border: 1px solid rgba(0,0,0,.4);
//     font-size: px2rem(14);
//     tbody{
//    tr {
//      td{
//        font-size: px2rem(14);
//        line-height: px2rem(21);
//      }
//    }
//    }
//  }
//  table +p{
//    color: #333333;
//    font-size: px2rem(14)!important;
//    line-height: px2rem(24);
//    text-align: center;
//    padding: px2rem(8) 0;
//  }
//}
//
//.interesters {
//  .am-list-body::before,
//  .am-list-body::after {
//    background-color: transparent !important;
//  }
//  .am-modal-header {
//    padding: 0;
//  //	border-bottom: 1px solid #DDDDDD;
//  }
//  .am-modal-content {
//    padding: 0;
//  }
//  .am-modal-transparent,
//  .am-modal-content,
//  .am-modal-body {
//    padding: 0 !important;
//  }
//  .top-titles {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    height: px2rem(44);
//    font-size: px2rem(18);
//    position: relative;
//
//    img {
//      max-width: px2rem(15);
//      max-height: px2rem(15);
//      position: absolute;
//      right: px2rem(15)
//    }
//  }
//}
//
//
//.redeem-box{
//  position: relative;
//  display: flex;
//  width: 100%;
//  justify-content: space-between;
//  box-sizing:content-box;
//  padding: px2rem(18) 0;
//  border-top: 1px solid #DDDDDD;
//  overflow: hidden;
//  .btn-1,.btn-2{
//    width: 45%;
//    height:px2rem(44);
//    line-height: px2rem(44);
//    border: 1px solid #508CEE;
//    text-align: center;
//    border-radius: px2rem(2);
//    background: #508CEE;
//    color: #fff;
//    margin-left: px2rem(15);
//  }
//  .btn-2{
//    background: #fff;
//    color: #508CEE;
//    margin-right: px2rem(15);
//  }
//}
