@import 'Common/assets/style/px2rem.scss';

.handlePage {
    width: 100%;
    height: 100%;
    .handleImg {
        margin: 0 auto;
        margin-top: px2rem(36);
        width: px2rem(64);
        height: px2rem(64);
    }
}

.handlePage-cont {
    text-align: center;
    width: 100%;

    .handlePage-bigText {
        font-size: px2rem(18);
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 29px;
        margin-bottom: px2rem(8);
        margin-top: px2rem(18);
    }
    .handlePage-smallText{
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(153,153,153,1);
        line-height:17px;
        font-size: px2rem(12);
        margin-bottom:px2rem(18) ;

    }

}