@import 'Common/assets/style/px2rem.scss';

.Service {
  width: 100%;
  height: 100%;
  background: #F6F6F9;
  .Service-list {
    width: 100%;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: #fff;
    margin-top: px2rem(12);
    p {
      height: px2rem(44);
      margin-left: px2rem(15);
      padding-right: px2rem(15);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dddddd;

      span {
        font-size: px2rem(16);
        &:first-child {
          color: #333333;
        }
        &:last-child{
          color: #999999;
        }
        i{
          font-size: px2rem(16);
        }
      }

      &:last-child {
        border: 0
      }
    }
  }
}

.service-lineRight{
  display: flex;
  justify-content:space-between;
  align-items:center;
  span{
    color: #999 !important;
  }
}
