@import "Common/assets/style/px2rem.scss";

.am-action-sheet-button-list-item {
  overflow: hidden;
}

.BoundBank {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  .BoundBank-list {
    padding: 0 px2rem(15);
    //background: darkolivegreen;
    margin-top: px2rem(12);
    .BoundBank-list-item {
      width: 100%;
      height: px2rem(110);
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
      }

      p {
        position: absolute;
      }

      .BoundBank-item-logo {
        width: px2rem(34);
        height: px2rem(34);
        top: px2rem(20);
        left: px2rem(20);

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .BoundBank-item-text {
        color: #fff;
        font-size: px2rem(16);
        top: px2rem(20);
        left: px2rem(66);
      }
      .BoundBankCard-text {
        color: #fff;
        font-size: px2rem(12);
        left: px2rem(66);
        top: px2rem(40);
      }
      .BoundBank-item-default {
        width: px2rem(60);
        height: px2rem(22);
        right: px2rem(22);
        top: px2rem(16);
        border: 1px solid #fff;
        border-radius: 2px;
        color: #fff;
        line-height: px2rem(22);
        text-align: center;
      }
      .BoundBank-item-num {
        bottom: px2rem(14);
        left: px2rem(66);
        span {
          color: #fff;
          font-size: px2rem(22);
          padding-left: px2rem(10);
          &:first-child {
            padding: 0;
          }
        }
      }
    }
  }
  .BoundBank-confirm {
    margin-top: px2rem(36) !important;
  }
  .BoundBank-tip {
    color: #999999;
    font-size: px2rem(12);
    padding: 0 px2rem(15);
    margin-top: px2rem(12);
  }
}
.popupList-child {
  height: px2rem(44.5);
  line-height: px2rem(44.5);
  color: rgba(51, 51, 51, 1);
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: px2rem(20);
  background: #fff;
}
.popupList {
  background: rgba(0, 0, 0, 0.253);
}
.popupList-child:nth-last-child(1) {
  background: #fff;
  margin-top: px2rem(8);
}
.popupList-child:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}
.BoundBank-title {
  text-align: center;
  img {
    width: px2rem(134);
    height: "px2rem(162)";
    margin-top: px2rem(56);
  }
  > div {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 22px;
  }
  .Bound-tit {
    margin-top: px2rem(20);
  }
}

.bank-card-box {
  margin-top: px2rem(12);
  padding: 0 px2rem(15);

  .bank-card-content {
    width: 100%;
    height: px2rem(50);
    background: #fff;
    padding: px2rem(10) 0 px2rem(10) px2rem(12);
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 px2rem(2) px2rem(3) #efefef;
    justify-content: space-between;
    
    .bank-card-title {
      display: flex;
  
      img {
        width: px2rem(30);
        height: auto;
      }
    
      .boundCardText {
        font-size: px2rem(16);
        color: #333;
        margin-left: px2rem(16);
        margin-top: px2rem(5);
      }
    }
  
    .rightIcon {
      margin-right: px2rem(12);
      position: relative;
      top: px2rem(3);
    }
  }
}