@import "Common/assets/style/px2rem.scss";

.openSuccess {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;

    .openSuccess-finish {
        width: 100%;
        text-align: center;
        // background: #fff;
        overflow: hidden;
        // border-bottom: 1px solid #dddddd;

        .openSuccess-finish-img {
            width: px2rem(60);
            height: px2rem(60);
            margin: px2rem(32) auto;

            img {
                width: 100%;
            }
        }

        .openSuccess-finish-txt {
            color: #333333;
            font-size: px2rem(18);
        }

        .openSuccess-finish-tit {
            padding-top: px2rem(8);
            color: #999999;
            font-size: px2rem(12);
        }

        .openSuccess-finish-confirm {
            margin-top: px2rem(12) !important;
        }

        .openSuccess-finish-bankNum {
            padding: 0 px2rem(15);
            border-top: 1px solid #dddddd;
            height: px2rem(44);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: px2rem(24);

            span {
                font-size: px2rem(16);
                color: #333333;

                &:last-child {
                    color: #999999;
                }
            }
        }
    }

    .openSuccess-info {
        // border-bottom: 1px solid #dddddd;
        // border-top: 1px solid #dddddd;
        background: #fff;
        margin-top: px2rem(12);
        height:px2rem(256) ;
        position: relative;
        .openPerfection-info-address {
            height: auto;
            display: flex;
            align-items: flex-start;

            span {
                display: flex;
                padding: px2rem(10) 0;
                line-height: px2rem(22);

                &:last-child {
                    display: inline-block;
                    width: px2rem(192);
                    text-align: right;
                }
            }
        }

        p {
            margin-left: px2rem(15);
            padding-right: px2rem(15);
            border-bottom: 1px solid #dddddd;
            height: px2rem(44);
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font-size: px2rem(16);
                color: #333333;

                &:last-child {
                    color: #999999;
                }
            }

            &:last-child {
                border: 0;
            }
        }
    }
}

.box {
    width: px2rem(290);
    font-size: 100%;
    height: px2rem(184);
    background: url("../../assets/images/slices.png")no-repeat center center;
    background-size: cover;
    font-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: px2rem(-145);
    margin-top: px2rem(-92);
    img {
        width: px2rem(32);
        height: px2rem(32);
        margin: px2rem(24);
    }
}

.bgBox {
    width: 100%;
    height: px2rem(32);
    display: flex;
    align-items: center;
    padding-top: px2rem(25);

    span {
        // width: 80px;
        height: 30px;
        font-size: 20px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 30px;
        font-weight: 400;
    }


}

.bgNum {
    width: 221px;
    height: 27px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 27px;
    margin-top: px2rem(15);
    padding-left: px2rem(24);
}