@import 'Common/assets/style/px2rem.scss';
.mq-module {
  width: px2rem(300);
}
.am-modal-title {
  font-size: px2rem(18);
  color: #333;
}
.conent {
  p {
    text-align: left;
    font-size: px2rem(14);
    color: #333;
  }
}