@import 'Common/assets/style/px2rem.scss';

.banklonding {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;

  .londingBox {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .orgLogo {
    height: px2rem(36);
    width: px2rem(36);
    margin-right: px2rem(8);
    vertical-align: top;

  }

  .orgName {
    vertical-align: top;
    display: inline-block;
    height: px2rem(36);
    line-height: px2rem(36);
    font-size: px2rem(22);
    color:#333333;
  }

  p {
    font-size: px2rem(12);
    color: #858E9F;
    padding-top: px2rem(12);

  }
}