//@import 'Common/assets/style/px2rem.scss';
//
//.riskQuestionsBox {
//    width: 100%;
//    // height: 100%;
//    background: #fff;
//    box-sizing: border-box;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    section {
//        flex: 1;
//    }
//}
//.riskQuestions {
//    width: 100%;
//    height: 100%;
//    background: #fff;
//    overflow-y: auto;
//    .questionNumber {
//        width: 100%;
//        box-sizing: border-box;
//        padding-top: px2rem(24);
//        padding-left: px2rem(15);
//
//        b {
//            width: px2rem(11);
//            height: px2rem(42);
//            font-size: px2rem(26);
//            font-family: PingFangSC-Regular;
//            font-weight: 400;
//            color: rgba(80, 140, 238, 1);
//            line-height: px2rem(42);
//        }
//
//        span {
//            width: px2rem(22);
//            height: px2rem(22);
//            font-size: px2rem(14);
//            font-family: PingFangSC-Regular;
//            font-weight: 400;
//            color: rgba(80, 140, 238, 1);
//            line-height: px2rem(22);
//            position: relative;
//            top: px2rem(-4);
//        }
//    }
//
//    .questionBox {
//        margin-top: px2rem(12);
//
//        .title {
//            font-size: px2rem(18);
//            font-family: 'PingFangSC-Medium';
//            font-weight: 500;
//            color: rgba(51, 51, 51, 1);
//            line-height: px2rem(29);
//            margin-bottom: px2rem(11);
//            padding: 0 px2rem(15);
//        }
//
//        .questionList {
//            width: 100%;
//            height: auto;
//
//            ul {
//                width: 100%;
//                height: auto;
//                padding-left: px2rem(15);
//                box-sizing: border-box;
//
//                li {
//                    position: relative;
//                    display: flex;
//                    padding: px2rem(17) 0;
//                    padding-right: px2rem(15);
//                    box-sizing: border-box;
//                    border-bottom: 1px solid #DDDDDD;
//
//                    .radio {
//                        display: block;
//                        width: px2rem(16);
//                        height: px2rem(16);
//                        border: px2rem(1) solid rgba(153, 153, 153, 1);
//                        border-radius: 50%;
//                        margin-right: px2rem(3);
//                        position: relative;
//                        top: px2rem(18);
//                    }
//
//                    p {
//                        font-size: px2rem(14);
//                        font-family: PingFangSC-Regular;
//                        font-weight: 400;
//                        color: rgba(102, 102, 102, 1);
//                        line-height: px2rem(22);
//
//                        span {
//                            margin-right: px2rem(10)
//                        }
//                    }
//
//                    // &:after {
//                    //     content: '';
//                    //     width: 100%;
//                    //     border-bottom:1px solid #DDDDDD;
//                    //     transform: scaleY(0.5);
//                    //     position: absolute;
//                    //     bottom: 0;
//                    //     left: 0;
//                    // }
//                }
//            }
//        }
//    }
//
//    .upDown_question {
//        margin-top: px2rem(36);
//        display: flex;
//        justify-content: center;
//        text-align: center;
//
//        span {
//            height: px2rem(22);
//            font-size: px2rem(14);
//            font-family: PingFangSC-Regular;
//            font-weight: 400;
//            line-height: px2rem(22);
//            text-align: center;
//            margin: 0 px2rem(20);
//            color: rgba(80, 140, 238, 1);
//
//            &.last {
//                text-align: center;
//            }
//
//            &.show {
//                display: block;
//                color: #999;
//            }
//
//            &.next {
//                color: rgba(80, 140, 238, 1);
//            }
//        }
//    }
//
//    .riskQuestion-confirm {
//        margin-top: px2rem(36);
//    }
//}
//
//.serial {
//    margin-right: px2rem(10)
//}
